#carouselExampleDark > div > div{
    height: 140vh;
}
#carouselExampleDark  img{
    height: 100%;
}
.flex-box{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center; 
    gap: 2%;  
}
.flex-box > div{
    width:32%;
    height: 50vh;
    margin-top: 10px;
}
.flex-img{
   height: 90%;
   width: 100%;
}

@media only screen and (max-width: 768px) {  
    .flex-box{
        gap:3%
    }
    .flex-box > div{
        width:47%;
    }
}
@media only screen and (max-width: 576px) {
    .flex-box > div{
        width:100%;
    }
}

.grid-box{
    display: grid;
    width: 100%;
    height: 130vh;  
    grid-template-areas:
      "first first second third fourth fourth"
      "first first fifth  sixth seventh seventh"
      "eighth eighth ninth ninth ninth ninth"
      "eighth eighth ninth ninth ninth ninth";
    grid-template-columns: repeat(6,16%);
    grid-template-rows: repeat(4, 24%);
    column-gap: calc(4ch/3 - 1.5px);
    row-gap: 1ch;
  }
  .grid-box img{
    height: 100%;
    width: 100%;
  }
  .grid-div-first {
    grid-area: first;
  }
  .grid-div-second {
    grid-area: second;
  }
  .grid-div-third {
    grid-area: third;
  }
  .grid-div-fourth {
    grid-area: fourth;
  }
  .grid-div-fifth {
    grid-area: fifth;
  }
  .grid-div-sixth {
    grid-area: sixth;
  }
  .grid-div-seventh{
    grid-area: seventh;
  }
  .grid-div-eighth{
    grid-area: eighth;
  }
  .grid-div-ninth{
    grid-area: ninth;
  }

  ul{
    text-align: left;
    list-style: none;
    padding-left:0
  }